.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.register__title {
    font-size: 30px;
    color: rgb(10, 10, 10);
    margin-top: 50px;
    cursor: pointer;
}
.register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 800px;
    background-color: rgb(14, 13, 13);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(10, 10, 10);
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom:100px;
    gap: 30px;
    background: linear-gradient(45deg, rgb(20, 20, 20), rgb(177, 139, 101));
}

.imput__name {
    margin-top: ;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    
}
.imput__number {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.imput__email {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    
}
.imput__password {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.register__button {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(14, 13, 13);
    color: rgb(250, 248, 248);
    font-size: 20px;
}

.new__login {
    font-size: 20px;
    color: rgb(241, 216, 216);
    cursor: pointer;
}