.header {
margin-top: auto;
padding: 45px 0;
/*background-color:rgba(218, 179, 161, 0.9);*/
background-color: black;
   
}

.header__logo {

    width: 120px;
    height: 120px;
    border-radius: 30%;
    margin-left: 50px;
}
.header__right   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__mail {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    
}

.header__button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 50px
    
}