.header {
background-color: black;

}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    padding: 45px  0;
    width: 90px;
    height: 90px;
    border-radius: 30%;
    margin-left: 50px;
    padding-bottom: 20px;
    
}
.header__left {
    
}
.header__name {
    font-size: 15px;
    color: white;
    margin-left: 50px;
    margin-top: 0;
    
}
.header__right   {
    display: flex;
    justify-content: space-between;
    
    margin-right: 50px;
    gap: 50px;
    padding-top: 50px;
}

.header__mail {
    color: white;
}
.contact {
    color: white;
}
.seguimiento {
    background: linear-gradient(45deg, rgb(20, 20, 20), rgb(177, 139, 101)); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.another__product {
    background: linear-gradient(45deg, rgb(20, 20, 20), rgb(177, 139, 101));
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(236, 4, 4, 0.2);
  cursor: pointer;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
   }
.header__button {
    
    background: linear-gradient(45deg, rgb(20, 20, 20), rgb(177, 139, 101)); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(240, 238, 238, 0.2);
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.header__button:hover {
    opacity: 0.5; 
  }

